/* image-title style start */

body {
    margin: 0;
}

.image img {
    width: 300px;
    height: 300px;
}

.heading1 {
    display: flex;
    width: 65%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid tan;
}
.heading2 {
    display: flex;
    width: 65%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid tan;
}
 /* .heading{
    display: grid;
    column-width: %;
    grid-template-columns: repeat(2, 1fr);
 } */

.title {
    margin-left: 10px;
}

@media screen and (max-width: 576px) {
    .heading1{
        margin-left: 23px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .heading2{
        margin: 320px 23px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .title{
        width: 130%;
    }
    .image img{
        width: 135%;
    }
}

/* image-title style end */